.editor-wrapper {
    text-align: left;
}

.active {
    color: var(--color-text) !important;
    background-color: var(--color-text)  !important;
}

[contenteditable="false"] {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
